[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ini"]
	path = ini
	url = https://github.com/dvdscripter/ini
	shallow = true
	registered = true
